#root {
  max-width: 1280px;
 
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.save_btn {
  background-color: #1ab394 !important;
  border: 1px solid #1ab394 !important;
  color: #fff !important;
}

label {
  font-size: 15px;
  font-weight: 600;
}

.selected_content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.segment_modal .modal-header {
  padding: 10px 15px !important;
  background-color: #39aebc;
  color: #fff;
  border-color: #03B498;
}
.traits_color{
  display: inline-block;
  width: 10px;

  height: 10px;
  border-radius: 100%;
}
.traits_green{
    background-color: #6fdf8b;
}
.remove_select{
  display: flex;
  align-items: center;
  gap: 10px;
}

.traits_red{
  background-color: #d24572;
}
.custom_select_flx{
  display: flex;
}
.traits_flx{
  justify-content: end;
    gap: 10px;
    display: flex;

}

.segment_modal .modal-dialog {
  position: absolute;
  height: 100%;
  margin: 0;
  right: -100%; /* Start off-screen */
  animation: slideIn 0.5s forwards; /* Slide in animation */
}

.segment_modal .modal-content {
  border: none;
  height: 100%;
}
.traits_width{
  width: 16px !important;
    height: 12px !important;

}
.minus_number{
  display: inline-block;
  width: 20px;
  height: 7px;
  background-color: #000000ab;
  border-radius: 5px;


}
.remove_select{
  position: relative;
}
.remove_select svg{
position: absolute;
right: 85px;
}
select:focus-visible{
  box-shadow: none !important;
  outline: none !important;
  border: 1px solid #00000078 !important;
}
.form-control{
   border: 1px solid #00000078 !important;
   border-radius: 0px !important;
   padding: 0.28rem .75rem;

}
.cancel_btn{
  border: none !important;
  background-color: #fff !important;
  color: palevioletred !important;
  font-weight: 500 !important;
}
.modal-footer{
  background-color:#80808030 !important;
  justify-content: start !important;
}
input{
  border: 1px solid #00000078 !important;
   border-radius: 0px !important;
   padding: 0.28rem .75rem;

}

p{
  margin-bottom: 5px !important;
}
.add_click{
  display: inline-flex;
  color: #1ab394;
    font-size: 18px;
    font-weight: 400;
    margin: 10px 22px;
    cursor: pointer;
    padding-bottom: 3px;
    border-bottom: 3px solid #1ab394;
}
select{
  cursor: pointer;
}
.traits_grey{
  width: 13px;
    height: 12px;
}
.select_traits_reltive{
  position: relative;
}
.select_traits_reltive svg{
  position: absolute;
  right: 15px;
    top: 40px;
}
.traits_grey{
  background-color: rgba(128, 128, 128, 0.461);
}
.grey_traits{
  display: flex;
  align-items: center;
  gap: 10px;
}
.remove_div{
  align-items: center;
  display: flex;
  justify-content: center;
width: 60px;
height: 35px;
cursor: pointer;
background-color: #1ab3942e;
}
.segment_modal .modal-title {
  font-size: 18px;
  font-weight: 500;
}

.segment_modal .btn-close {
  font-size: 14px;
}

.select_name {
  padding: 8px 15px !important;
  border: 1px solid #dee2e6;
  cursor: pointer !important;
  margin-bottom: 10px !important;
}

.select_name:focus-visible {
  border: 1px solid #dee2e6 !important;
  outline: none !important;
  box-shadow: none !important;
}

.name_input input {
  border-radius: 5px;
  padding: 8px 15px;
  border: 1px solid #dee2e6;
  margin-top: 5px;
  margin-bottom: 5px;
}

.name_input input:focus-visible {
  border: 1px solid #dee2e6;
  outline: none;
}

.name_input {
  display: flex;
  flex-direction: column;
}

.segment_modal .modal-body {
  padding: 10px 15px !important;
}

/* Keyframes for slide-in animation */
@keyframes slideIn {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

/* When modal is shown, apply animation */
.show .segment_modal .modal-dialog {
  animation: slideIn 0.5s forwards;
}
